

erele.claserror {
    color: white;
    background-color: #DF0101;
    padding: 2px;
    border-radius: 5px;
    margin: 10px;
}

label
{
   border-radius: 10px;padding: 5px; display:inline;  background-color: white;
    
    
}

